/* common styles accross the website */
*{
    padding:0;
    margin:0;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin:auto;
}
.each-section{
min-height: 100vh;
}
.common-btn{
 border:none;
    background-color: #1D4ED8;
    padding:0.7rem 25px;
    color:white;
    font-weight: bold;
    border-radius: 7px;
}
/* common styles accross the website ends */


.navbar{
    display:flex;
    justify-content: space-around;
    padding:1rem 0;
    align-items: center;

}
.navbar img{
  width:min-content;
  height: min-content;
}
.nav-menu-items a{
    text-decoration: none;
    color : #575757FF;
}
.nav-menu-items a:hover{
    color : black;
}
.nav-menu-items{
    display: flex;
    list-style: none; 
    gap:24px;

}

.register-button{
    border:none;
    background-color: #1D4ED8;
    padding:0.7rem 25px;
    color:white;
    font-weight: bold;
    border-radius: 7px;
}

/* banner */
.banner-section{
    background-image: url("./assets/banner.jpg");
    display:flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    display:flex;
    flex-direction: column;
    gap:15rem;
    justify-content: center;
    align-items: center;
}
.banner-head{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}
.banner-head h1{
    font-size:4rem;
}
.banner-head p{
    width: 600px;
    text-align: center;
}

.banner-foot{
    font-size: 1.3rem;
    padding: 1.5rem 62px;
}